.RegistrationByEmail {
	width: 100%;
}

.title {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.3rem !important;
	color: white !important;
}

.errorMessage {
	display: block;
	margin: 1.5rem 0 !important;
	font-size: 0.8rem !important;
	text-align: center;
	height: 1rem;
}

.btn {
	background-color: #aacf3e !important;
	border-radius: 1rem !important;
	text-transform: capitalize !important;
	padding: 0.7rem !important;
}

.btnSub {
	margin-top: 1rem !important;
	background-color: #fcb700 !important;
}
