$global-colors: (
	--yg-1: #ffffe4,
	--yg-2: #f7fcb9,
	--yg-3: #d9f0a3,
	--yg-4: #addd8e,
	--yg-5: #78c679,
	--yg-6: #42ab5d,
	--yg-7: #238443,
	--yg-8: #006837,
	--yg-9: #004529,

	--yg-1--40: rgb(255, 255, 228, 0.4),
	--yg-2--40: rgb(247, 252, 185, 0.4),
	--yg-3--40: rgb(217, 240, 163, 0.4),
	--yg-4--40: rgb(173, 221, 142, 0.4),
	--yg-5--40: rgb(120, 198, 121, 0.4),
	--yg-6--40: rgb(66, 171, 93, 0.4),
	--yg-7--40: rgb(35, 132, 67, 0.4),
	--yg-8--40: rgb(0, 104, 55, 0.4),
	--yg-9--40: rgb(0, 69, 41, 0.4),
	--primary-bg-color: #fff,
	--primary-text-color: #303030,
	--secondary-text-color: var(--primary-bg-color),
);
