.AuthWidget {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
	padding: 0 1rem;
	background: url("./bg.jpg") no-repeat 40% / cover;
}

.wrapper {
	padding: 1.2rem 2.5rem;
	padding-bottom: 2rem;
	width: 100%;
	background: rgba(160, 249, 255, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 1rem;

	& fieldset {
		border-color: white;
	}
}
